# Pandas

In [1]:
import pandas as pd

#### Mutability and copying of data

All pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable.  
* The length of a __Series__ cannot be changed
* Columns can be inserted into a __DataFrame__. 

However, the vast majority of methods produce new objects and leave the input data untouched. In general we like to favor immutability where sensible.

In [6]:
stock_data = pd.read_csv('data/data.csv')
print('Data type - {}'.format(type(stock_data)))
stock_data

Data type - <class 'pandas.core.frame.DataFrame'>

  symbol  stock name
0   AAPL  Apple Inc.
1   NVDA      Nvidia
2   AMZN      Amazon