# Pandas

## Introduction

[Documentation](https://pandas.pydata.org/docs/#pandas-documentation)

___Pandas is well suited for many different kinds of data:___

* Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
* Ordered and unordered (not necessarily fixed-frequency) time series data.
* Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
* Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure

The two primary data structures of pandas, [Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series) (1-dimensional) and [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html) (2-dimensional), handle the vast majority of typical use cases in finance, statistics, social science, and many areas of engineering. 

___Here are just a few of the things that pandas does well:___

* Easy handling of missing data (represented as NaN) in floating point as well as non-floating point data
* Size mutability: columns can be inserted and deleted from DataFrame and higher dimensional objects
* Automatic and explicit data alignment: objects can be explicitly aligned to a set of labels, or the user can simply ignore the labels and let Series, DataFrame, etc. automatically align the data for you in computations
* Powerful, flexible group by functionality to perform split-apply-combine operations on data sets, for both aggregating and transforming data
* Make it easy to convert ragged, differently-indexed data in other Python and NumPy data structures into DataFrame objects
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets
* Intuitive merging and joining data sets
* Flexible reshaping and pivoting of data sets
* Hierarchical labeling of axes (possible to have multiple labels per tick)
* Robust IO tools for loading data from flat files (CSV and delimited), Excel files, databases, and saving / loading data from the ultrafast HDF5 format
* Time series-specific functionality: date range generation and frequency conversion, moving window statistics, date shifting and lagging.

___Mutability and copying of data___

All pandas data structures are value-mutable (the values they contain can be altered) but not always size-mutable.  
* The length of a __Series__ cannot be changed
* Columns can be inserted into a __DataFrame__. 

However, the vast majority of methods produce new objects and leave the input data untouched. In general we like to favor immutability where sensible.

## Basics

* The columns and the index are known as the axes. The index is axis 0, and the columns are axis 1.
* Pandas uses `NaN` (not a number) to represent missing values.
* By default, pandas shows 60 rows and 20 columns, but we have limited that in the book, so the data fits in a page.
* The `.head` method accepts an optional parameter, `n`, which controls the number of rows displayed. The default value for `n` is 5. Similarly, the `.tail` method returns the last `n` rows.


![image.png](./images/dataframe-struct.png)

### Data types

https://pandas.pydata.org/pandas-docs/stable/reference/arrays.html#datetime-data

In very broad terms, data may be classified as either __continuous__ or __categorical__. 
* Continuous data is always numeric and represents some kind of measurements, such as height, wage, or salary. Continuous data can take on an infinite number of possibilities. 
* Categorical data, on the other hand, represents discrete, finite amounts of values such as car color, type of poker hand, or brand of cereal.

The following describes common pandas data types:

* float – The NumPy float type, which supports missing values
* int – The NumPy integer type, which does not support missing values
* 'Int64' – pandas nullable integer type. __Note: This is different than `int64`__
* `object` – The NumPy type for storing strings (and mixed types). The object data type is the one data type that is unlike the others. A column that is of the object data type may contain values that are of any valid Python object. __Typically, when a column is of the object data type, it signals that the entire column is strings. When you load CSV files and string columns are missing values, pandas will stick in a NaN (float) for that cell. So the column might have both object and float (missing) values in it.__
* 'category' – pandas categorical type, which does support missing values. As pandas grew larger and more popular, the `object` data type proved to be too generic for all columns with string values. __pandas created its own categorical data type to handle columns of strings (or numbers) with a fixed number of possible values.__
* bool – The NumPy Boolean type, which does not support missing values (None becomes False, np.nan becomes True)
* 'boolean' – pandas nullable Boolean type
* datetime64[ns] – The NumPy date type, which does support missing values (NaT)

## DataFrame
https://pandas.pydata.org/docs/reference/frame.html

In [1]:
import pandas as pd
import numpy as np

In [2]:
stocks = pd.read_csv("data/stocks.csv")
print(type(stocks))
display(stocks)

print('shape = ', stocks.shape)
print('size = ', stocks.size)
print('ndim = ', stocks.ndim)
print('len = ', len(stocks))

<class 'pandas.core.frame.DataFrame'>

  Symbol  Shares  Low  High
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

shape =  (3, 4)
size =  12
ndim =  2
len =  3

### General properties and methods

* The index and the columns represent the same thing but along different axes. They are occasionally referred to as the row index and column index.  
* If you do not specify the index, pandas will use a `RangeIndex`. A `RangeIndex` is a subclass of an `Index` that is analogous to Python's `range` object. __Its entire sequence of values is not loaded into memory until it is necessary to do so, thereby saving memory.__  
* When possible, Index objects are implemented using hash tables that allow for very fast selection and data alignment. They are ordered and can have duplicate entries.
* Beneath the `index`, `columns`, and `data` are NumPy `ndarrays`.

In [3]:
# componentes of DataFrame

columns = stocks.columns
index = stocks.index
data = stocks.to_numpy()

display(index)
display(columns)

# Beneath the index, columns, and data are NumPy ndarrays.
display(data)
display(index.to_numpy())
display(columns.to_numpy())

RangeIndex(start=0, stop=3, step=1)

Index(['Symbol', 'Shares', 'Low', 'High'], dtype='object')

array([['AAPL', 40, 135, 170],
       ['AMZN', 8, 900, 1125],
       ['TSLA', 50, 220, 400]], dtype=object)

array([0, 1, 2], dtype=int64)

array(['Symbol', 'Shares', 'Low', 'High'], dtype=object)

In [4]:
# data type of each columns
display(stocks.dtypes)

# counts of each data type
display(stocks.dtypes.value_counts())

# number of non-missing values for each column
display(stocks.count())

Symbol    object
Shares     int64
Low        int64
High       int64
dtype: object

int64     3
object    1
dtype: int64

Symbol    3
Shares    3
Low       3
High      3
dtype: int64

In [5]:
# get info on the dataframe
display(stocks.info())

# get info on the dataframe
display(stocks.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  3 non-null      object
 1   Shares  3 non-null      int64
 2   Low     3 non-null      int64
 3   High    3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes

None

          Shares         Low         High
count   3.000000    3.000000     3.000000
mean   32.666667  418.333333   565.000000
std    21.939310  419.295043   498.422512
min     8.000000  135.000000   170.000000
25%    24.000000  177.500000   285.000000
50%    40.000000  220.000000   400.000000
75%    45.000000  560.000000   762.500000
max    50.000000  900.000000  1125.000000

### Accessing Columns

Selecting a single column from a DataFrame returns a Series

In [6]:
display(stocks)

  Symbol  Shares  Low  High
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

In [7]:
display(stocks['Low'])
display(stocks.Low)

0    135
1    900
2    220
Name: Low, dtype: int64

0    135
1    900
2    220
Name: Low, dtype: int64

We can also index off of the `.loc` and `.iloc` attributes to pull out a Series. The former allows us to pull out by column name, while the latter by position. These are referred to as _label-based_ and _positional-based_ in the pandas documentation.

`loc/iloc[row_selector, column_selector]`

In [8]:
display(stocks.loc[:, 'Low'])
display(stocks.iloc[:, 2])
display(stocks.iloc[:1, 2])

0    135
1    900
2    220
Name: Low, dtype: int64

0    135
1    900
2    220
Name: Low, dtype: int64

0    135
Name: Low, dtype: int64

#### Accessing multiple columns

In [9]:
# This can also be used to order columns
display(stocks[
    [
        "High",
        "Low"
    ]
])

display(type(stocks[["High"]]))
display(type(stocks["High"]))

display(type(stocks.loc[:, ["Low"]]))
display(type(stocks.loc[:, "Low"]))

   High  Low
0   170  135
1  1125  900
2   400  220

pandas.core.frame.DataFrame

pandas.core.series.Series

pandas.core.frame.DataFrame

pandas.core.series.Series

#### Selecting and Filtering Columns by Data Types and Names

In [10]:
display(stocks)
display(stocks.select_dtypes(include=["number"]))
display(stocks.select_dtypes(exclude=[np.int64]))

# searches column names (or index labels) based on which parameter is used. 
# like parameter is used to search for all the columns or index names that contain the exact string 'AAPL'
display(stocks.filter(like='Low'))

  Symbol  Shares  Low  High
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

   Shares  Low  High
0      40  135   170
1       8  900  1125
2      50  220   400

  Symbol
0   AAPL
1   AMZN
2   TSLA

   Low
0  135
1  900
2  220

### Ordering Columns

In [11]:
display(stocks)

order = ['Shares', 'High', 'Low']
        
display(stocks[order])

  Symbol  Shares  Low  High
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

   Shares  High  Low
0      40   170  135
1       8  1125  900
2      50   400  220

### Renaming Columns

In [12]:
display(stocks)

column_dict = {column : column.lower() for column in stocks.columns.to_list()}
display(stocks.rename(columns=column_dict)) # not an in place change

  Symbol  Shares  Low  High
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

  symbol  shares  low  high
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

### Setting and Renaming Index

In [13]:
display(stocks)
index_map={'AAPL': 'Apple Inc.'}
display(stocks.set_index('Symbol').rename(index=index_map))  # not an in place change

  Symbol  Shares  Low  High
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

            Shares  Low  High
Symbol
Apple Inc.      40  135   170
AMZN             8  900  1125
TSLA            50  220   400

### Processing data in different columns together

In [14]:
low_high_1 = stocks.Low + stocks.High
low_high_2 = stocks.loc[:, ['Low', 'High']].sum(axis="columns")

display(type(low_high_1))

display(low_high_1)
display(low_high_2)

pandas.core.series.Series

0     305
1    2025
2     620
dtype: int64

0     305
1    2025
2     620
dtype: int64

### Creating Columns
`assign` method - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.assign.html
`insert` method - https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.insert.html

In [15]:
stocks_copy = stocks.copy(deep=False)

display(stocks_copy)

display(stocks_copy.assign(vol_gtr_45= lambda col: col.Shares > 45))
display(stocks_copy.assign(vol_gtr_45= stocks_copy.Shares > 45))

stocks_copy.insert(loc=0, column="Difference", value=stocks_copy["High"] - stocks_copy["Low"])
stocks_copy['change_percentage'] = 0
stocks_copy['average_price'] = stocks.Low + stocks.High / 2
display(stocks_copy)

  Symbol  Shares  Low  High
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

  Symbol  Shares  Low  High  vol_gtr_45
0   AAPL      40  135   170       False
1   AMZN       8  900  1125       False
2   TSLA      50  220   400        True

  Symbol  Shares  Low  High  vol_gtr_45
0   AAPL      40  135   170       False
1   AMZN       8  900  1125       False
2   TSLA      50  220   400        True

   Difference Symbol  Shares  Low  High  change_percentage  average_price
0          35   AAPL      40  135   170                  0          220.0
1         225   AMZN       8  900  1125                  0         1462.5
2         180   TSLA      50  220   400                  0          420.0

### Chaining

In [16]:
display(stocks)
display(stocks.sum())
display(stocks.sum()[1:].sum())
display(stocks[['Shares', 'High', 'Low']].sum().sum())

  Symbol  Shares  Low  High
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

Symbol    AAPLAMZNTSLA
Shares              98
Low               1255
High              1695
dtype: object

3048

3048

### Operations on DataFrame

In [17]:
display(stocks)

# plus operator, which attempts to add a scalar value to each value of each column of the DataFrame
display(stocks.iloc[:, 1:] + 1)

# chaining
display(stocks.iloc[:, 1:].add(1))

  Symbol  Shares  Low  High
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

   Shares  Low  High
0      41  136   171
1       9  901  1126
2      51  221   401

   Shares  Low  High
0      41  136   171
1       9  901  1126
2      51  221   401

### Deleting Columns

In [18]:
display(stocks.drop(columns='High'))
display(stocks)

  Symbol  Shares  Low
0   AAPL      40  135
1   AMZN       8  900
2   TSLA      50  220

  Symbol  Shares  Low  High
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

### Creating DataFrames from scratch

In [19]:
symbols = ['RIL', 'TTM']
quotes = [1324.2, 12.4]

stocks_data_frame_dict = {'symbol': symbols, 'quote': quotes}

# By default, pandas will create a RangeIndex 
df_1 = pd.DataFrame(stocks_data_frame_dict)
display(df_1)
display(df_1.index)

# sepcify our own index
df_2 = pd.DataFrame(stocks_data_frame_dict, index=['a', 'b'])
display(df_2)
display(df_2.index)

# list of dicts
list_of_dicts = [
    {
        'symbol' : 'NSDQ',
        'quote' : 33
    },
    {
        'symbol' : 'AAPL',
        'quote' : 333.1,
        'volume': 22
    },
    {
        'symbol' : 'ZNGA',
        'quote' : None,
        'volume': 'Delisted'
    }
]

display(pd.DataFrame(list_of_dicts))

  symbol   quote
0    RIL  1324.2
1    TTM    12.4

RangeIndex(start=0, stop=2, step=1)

  symbol   quote
a    RIL  1324.2
b    TTM    12.4

Index(['a', 'b'], dtype='object')

  symbol  quote    volume
0   NSDQ   33.0       NaN
1   AAPL  333.1        22
2   ZNGA    NaN  Delisted

### Exporting DataFarme

DataFrames can be exported using few methods on the DataFrame that start with to_. Example: to_csv, to_clipboard, to_json.

In [20]:
display(stocks)

# write json to string buffer

from io import StringIO
fout = StringIO()

stocks.to_json(fout)
display(fout.getvalue())

  Symbol  Shares  Low  High
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

'{"Symbol":{"0":"AAPL","1":"AMZN","2":"TSLA"},"Shares":{"0":40,"1":8,"2":50},"Low":{"0":135,"1":900,"2":220},"High":{"0":170,"1":1125,"2":400}}'

#### Exporting to type tracking formats:

Once you have your data in a format you like, you can save it in a binary format that tracks types, such as the Feather format (pandas leverages the pyarrow library to do this).

##### Feather format

Feather is a fast, lightweight, and easy-to-use binary file format for storing data frames. It has a few specific design goals:

* Lightweight, minimal API: make pushing data frames in and out of memory as simple as possible
* Language agnostic: Feather files are the same whether written by Python or R code. Other languages can read and write Feather files, too.
* High read and write performance. When possible, Feather operations should be bound by local disk performance.
* This format is meant to enable in-memory transfer of structured data between languages and optimized so that data can be used as is without internal conversion.

Look at DataFrame's `to_feather` and `pd.read_feather` method.

##### Parquet format

Whereas Feather optimizes the binary data for the in-memory structure, Parquet optimizes for the on-disk format. 

Look at DataFrame's `to_fparquet` and `pd.read_parquetr` method.

Right now there is some conversion required for pandas to load data from both Parquet and Feather. But both are quicker than CSV and persist types.

### Efficiently reading data into DataFrame

Look into pd.read_ methods

Tips:
* Read a limited number of rows/lines in a file. Example using the `nrows` param in `pd.read_csv`
* Specify a smaller `dtype` for a given column than the default which might take more space
* If there are very unique values in a column, use the `category` data type
* If you can process chunks of the data at a time and do not need all of it in memory, you can use the `chunksize` parameter

#### Data type is inferend by Pandas

> Because CSV files contain no information about type, pandas tries to infer the types of the columns. If all of the values of a column are whole numbers and none of them are missing, then it uses the int64 type. If the column is numeric but not whole numbers, or if there are missing values, it uses float64. These data types may store more information that you need. For example, if your numbers are all below 200, you could use a smaller type, like np.int16 (or np.int8 if they are all positive).

> As of pandas 0.24, there is a new type 'Int64' (note the capitalization) that supports integer types with missing numbers. You will need to specify it with the dtype parameter if you want to use this type, as pandas will convert integers that have missing numbers to float64.

> If the column turns out to be non-numeric, pandas will convert it to an object column, and treat the values as strings. String values in pandas take up a bunch of memory as each value is stored as a Python string. If we convert these to categoricals, pandas will use much less memory as it only stores the string once, rather than creating new strings (even if they repeat) for every row.

The pandas library can also read CSV files found on the internet. You can point the read_csv function to the URL directly.

#### CSV and JSONs

In [21]:
# Note the memory usage in the output

# reading the whole file
display(pd.read_csv('data/stocks.csv').info())

# reading a limited number of rows
display(pd.read_csv('data/stocks.csv', 
                    nrows=1,
                    dtype={'Low': np.int32}
                    ).info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  3 non-null      object
 1   Shares  3 non-null      int64
 2   Low     3 non-null      int64
 3   High    3 non-null      int64
dtypes: int64(3), object(1)
memory usage: 224.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  1 non-null      object
 1   Shares  1 non-null      int64
 2   Low     1 non-null      int32
 3   High    1 non-null      int64
dtypes: int32(1), int64(2), object(1)
memory usage: 156.0+ bytes

None

#### SQL

1. Create a SQLite database to store the Beatles information

``` python
>>> import sqlite3
>>> con = sqlite3.connect("data/beat.db")
>>> with con:
...     cur = con.cursor()
...     cur.execute("""DROP TABLE Band""")
...     cur.execute(
...         """CREATE TABLE Band(id INTEGER PRIMARY KEY,
...         fname TEXT, lname TEXT, birthyear INT)"""
...     )
...     cur.execute(
...         """INSERT INTO Band VALUES(
...         0, 'Paul', 'McCartney', 1942)"""
...     )
...     cur.execute(
...         """INSERT INTO Band VALUES(
...         1, 'John', 'Lennon', 1940)"""
...     )
...     _ = con.commit()
```

2. Read the table from the database into a DataFrame. Note that if we are reading a table, we need to use a SQLAlchemy connection. SQLAlchemy is a library that abstracts databases for us:

``` python
>>> import sqlalchemy as sa
>>> engine = sa.create_engine(
...     "sqlite:///data/beat.db", echo=True
... )
>>> sa_connection = engine.connect()
>>> beat = pd.read_sql(
...     "Band", sa_connection, index_col="id"
... )
>>> beat
   fname      lname  birthyear
id                            
0   Paul  McCartney       1942
1   John     Lennon       1940
```

3. Read from the table using a SQL query. This can use a SQLite connection or a SQLAlchemy connection:
``` python
>>> sql = """SELECT fname, birthyear from Band"""
>>> fnames = pd.read_sql(sql, con)
>>> fnames
  fname  birthyear
0  Paul       1942
1  John       1940
```

The pandas library leverages the SQLAlchemy library, which can talk to most SQL databases. This lets you create DataFrames from tables, or you can run a SQL select query and create the DataFrame from the query.

#### Reading from HTML

In [23]:
url = 'https://en.wikipedia.org/wiki/The_Beatles_discography'

dfs = pd.read_html(url)

display(len(dfs))
display(dfs)

51

[                             The Beatles discography  \
 0  The Beatles in 1964Clockwise (from top-left): ...
 1                                      Studio albums
 2                                        Live albums
 3                                 Compilation albums
 4                                       Video albums
 5                                       Music videos
 6                                                EPs
 7                                            Singles
 8                                           Mash-ups
 9                                           Box sets

                            The Beatles discography.1
 0  The Beatles in 1964Clockwise (from top-left): ...
 1                                                 23
 2                                                  5
 3                                                 53
 4                                                 15
 5                                                 68
 6                                                 21
 7                                                 63
 8                                                  2
 9                                                 16  ,
     0                                                  1
 0 NaN  Denotes the 13 studio albums in the "core cata...,
                                                 Title  \
                                                 Title
 0                                    Please Please Me
 1                                 With the Beatles[B]
 2                          Introducing... The Beatles
 3                                   Meet the Beatles!
 4                                     Twist and Shout
 5                           The Beatles' Second Album
 6                        The Beatles' Long Tall Sally
 7                                  A Hard Day's Night
 8                                  A Hard Day's Night
 9                                       Something New
 10                                   Beatles for Sale
 11                                        Beatles '65
 12                                         Beatles VI
 13                                              Help!
 14                                              Help!
 15                                        Rubber Soul
 16                                        Rubber Soul
 17                                Yesterday and Today
 18                                           Revolver
 19                                           Revolver
 20              Sgt. Pepper's Lonely Hearts Club Band
 21                               Magical Mystery Tour
 22                    The Beatles ("The White Album")
 23                                Yellow Submarine[D]
 24                                         Abbey Road
 25                                          Let It Be
 26  "—" denotes that the recording did not chart o...

                                         Album details  \
                                         Album details
 0      Released: 22 March 1963 Label: Parlophone (UK)
 1   Released: 22 November 1963 Label: Parlophone (...
 2       Released: 10 January 1964 Label: Vee-Jay (US)
 3       Released: 20 January 1964 Label: Capitol (US)
 4      Released: 3 February 1964 Label: Capitol (CAN)
 5         Released: 10 April 1964 Label: Capitol (US)
 6          Released: 11 May 1964 Label: Capitol (CAN)
 7   Released: 26 June 1964 Label: United Artists (...
 8       Released: 10 July 1964 Label: Parlophone (UK)
 9          Released: 20 July 1964 Label: Capitol (US)
 10   Released: 4 December 1964 Label: Parlophone (UK)
 11     Released: 15 December 1964 Label: Capitol (US)
 12  Released: 14 June 1965 Label: Parlophone (NZ),...
 13     Released: 6 August 1965 Label: Parlophone (UK)
 14  Released: 13 August 1965 Label: Capitol (US)[C...
 15   Released: 3 December 1965 Label: Parlophone (UK)
 16   Released: 6 December 1965 Label: Capitol (US)[C]
 17         Released: 20 June 1966 Label: Capitol (US)
 18     Released: 5 August 1966 Label: Parlophone (UK)
 19     Released: 8 August 1966 Label: Capitol (US)[C]
 20  Released: 26 May 1967 Label: Parlophone (UK), ...
 21  Released: 27 November 1967[E] Label: Parlophon...
 22            Released: 22 November 1968 Label: Apple
 23  Released: 13 January 1969 Label: Apple (UK), C...
 24           Released: 26 September 1969 Label: Apple
 25                  Released: 8 May 1970 Label: Apple
 26  "—" denotes that the recording did not chart o...

                                  Peak chart positions  \
                                              UK[1][2]
 0                                                   1
 1                                                   1
 2                                                   —
 3                                                   —
 4                                                   —
 5                                                   —
 6                                                   —
 7                                                   —
 8                                                   1
 9                                                   —
 10                                                  1
 11                                                  —
 12                                                  —
 13                                                  1
 14                                                  —
 15                                                  1
 16                                                  —
 17                                                  —
 18                                                  1
 19                                                  —
 20                                                  1
 21                                                 31
 22                                                  1
 23                                                  3
 24                                                  1
 25                                                  1
 26  "—" denotes that the recording did not chart o...

                                                        \
                                                AUS[3]
 0                                                   —
 1                                                   —
 2                                                   —
 3                                                   —
 4                                                   —
 5                                                   —
 6                                                   —
 7                                                   —
 8                                                   1
 9                                                   —
 10                                                  1
 11                                                  —
 12                                                  —
 13                                                  1
 14                                                  —
 15                                                  1
 16                                                  —
 17                                                  —
 18                                                  1
 19                                                  —
 20                                                  1
 21                                                 48
 22                                                  1
 23                                                  4
 24                                                  1
 25                                                  1
 26  "—" denotes that the recording did not chart o...

                                                        \
                                                CAN[4]
 0                                                   —
 1                                                   —
 2                                                   —
 3                                                   1
 4                                                   1
 5                                                   1
 6                                                   1
 7                                                   1
 8                                                   —
 9                                                   2
 10                                                  —
 11                                                  1
 12                                                  1
 13                                                  —
 14                                                  1
 15                                                  —
 16                                                  1
 17                                                  1
 18                                                  —
 19                                                  1
 20                                                  7
 21                                                  —
 22                                                  1
 23                                                  1
 24                                                  1
 25                                                  1
 26  "—" denotes that the recording did not chart o...

                                                        \
                                                FRA[5]
 0                                                   5
 1                                                   5
 2                                                   —
 3                                                   —
 4                                                   —
 5                                                   —
 6                                                   —
 7                                                   5
 8                                                   —
 9                                                   —
 10                                                  —
 11                                                 80
 12                                                  —
 13                                                  5
 14                                                  —
 15                                                  5
 16                                                  —
 17                                                  —
 18                                                  5
 19                                                  —
 20                                                  4
 21                                                  2
 22                                                  1
 23                                                  4
 24                                                  1
 25                                                  5
 26  "—" denotes that the recording did not chart o...

                                                        \
                                                GER[6]
 0                                                   5
 1                                                   1
 2                                                   —
 3                                                   —
 4                                                   —
 5                                                  50
 6                                                   —
 7                                                   —
 8                                                   1
 9                                                  38
 10                                                  1
 11                                                  9
 12                                                 15
 13                                                  1
 14                                                  —
 15                                                  1
 16                                                  —
 17                                                 13
 18                                                  1
 19                                                  —
 20                                                  1
 21                                                  8
 22                                                  1
 23                                                  5
 24                                                  1
 25                                                  4
 26  "—" denotes that the recording did not chart o...

                                                        \
                                                NOR[7]
 0                                                   —
 1                                                   —
 2                                                   —
 3                                                   —
 4                                                   —
 5                                                   —
 6                                                   —
 7                                                   —
 8                                                   —
 9                                                   —
 10                                                  —
 11                                                  —
 12                                                  —
 13                                                  —
 14                                                  —
 15                                                  —
 16                                                  —
 17                                                  —
 18                                                 14
 19                                                  —
 20                                                  1
 21                                                 13
 22                                                  1
 23                                                  1
 24                                                  1
 25                                                  1
 26  "—" denotes that the recording did not chart o...

                                                        \
                                              US[8][9]
 0                                                   —
 1                                                   —
 2                                                   2
 3                                                   1
 4                                                   —
 5                                                   1
 6                                                   —
 7                                                   1
 8                                                   —
 9                                                   2
 10                                                  —
 11                                                  1
 12                                                  1
 13                                                  —
 14                                                  1
 15                                                  —
 16                                                  1
 17                                                  1
 18                                                  —
 19                                                  1
 20                                                  1
 21                                                  1
 22                                                  1
 23                                                  2
 24                                                  1
 25                                                  1
 26  "—" denotes that the recording did not chart o...

                                        Certifications
                                        Certifications
 0   BPI: Gold[10] ARIA: Gold[11] MC: Gold[12] RIAA...
 1   BPI: Gold[10] ARIA: Gold[11] BVMI: Gold[14] MC...
 2                                  RIAA: Platinum[13]
 3              MC: Platinum[12] RIAA: 5× Platinum[13]
 4                                 MC: 3× Platinum[12]
 5              MC: Platinum[12] RIAA: 2× Platinum[13]
 6                                        MC: Gold[12]
 7              MC: Platinum[12] RIAA: 4× Platinum[13]
 8                    BPI: Platinum[10] ARIA: Gold[11]
 9                  MC: Gold[12] RIAA: 2× Platinum[13]
 10  BPI: Gold[10] ARIA: Gold[11] MC: Gold[12] RIAA...
 11             MC: Platinum[12] RIAA: 3× Platinum[13]
 12                    MC: Gold[12] RIAA: Platinum[13]
 13                   BPI: Platinum[10] ARIA: Gold[11]
 14          MC: 2× Platinum[12] RIAA: 3× Platinum[13]
 15  BPI: Platinum[10] ARIA: Platinum[11] BVMI: Gol...
 16          MC: 2× Platinum[12] RIAA: 6× Platinum[13]
 17             MC: Platinum[12] RIAA: 2× Platinum[13]
 18            BPI: 2× Platinum[10] ARIA: Platinum[11]
 19          MC: 2× Platinum[12] RIAA: 5× Platinum[13]
 20  BPI: 17× Platinum[10] ARIA: 4× Platinum[11] BV...
 21  BPI: Platinum[10] ARIA: Platinum[11] MC: 4× Pl...
 22  BPI: 2× Platinum[10] ARIA: 2× Platinum[11] MC:...
 23      BPI: Gold[10] MC: Gold[12] RIAA: Platinum[13]
 24  BPI: 3× Platinum[10] ARIA: 3× Platinum[11] BVM...
 25  BPI: Platinum[10] ARIA: Platinum[11] MC: 3× Pl...
 26  "—" denotes that the recording did not chart o...  ,
                                                Title  \
                                                Title
 0   Live! at the Star-Club in Hamburg, Germany; 1962
 1               The Beatles at the Hollywood Bowl[A]
 2                              First Live Recordings
 3                                    Live at the BBC
 4                  On Air – Live at the BBC Volume 2
 5  "—" denotes that the recording did not chart o...

                                        Album details  \
                                        Album details
 0  Released: 8 April 1977 Label: Lingasong (UK), ...
 1  Released: 4 May 1977 Label: Parlophone (UK), C...
 2  Released: 24 January 1979[22] Label: Pickwick ...
 3  Released: 30 November 1994 Label: Parlophone (...
 4       Released: 11 November 2013 Label: Apple, UMe
 5  "—" denotes that the recording did not chart o...

                                 Peak chart positions  \
                                                UK[1]
 0                                                  —
 1                                                  1
 2                                                  —
 3                                                  1
 4                                                 12
 5  "—" denotes that the recording did not chart o...

                                                       \
                                               AUS[3]
 0                                                 24
 1                                                  8
 2                                                  —
 3                                                  2
 4                                                 28
 5  "—" denotes that the recording did not chart o...

                                                       \
                                              AUT[17]
 0                                                 12
 1                                                  3
 2                                                  —
 3                                                  6
 4                                                  7
 5  "—" denotes that the recording did not chart o...

                                                       \
                                              CAN[18]
 0                                                  —
 1                                                  —
 2                                                  —
 3                                                  2
 4                                                  7
 5  "—" denotes that the recording did not chart o...

                                                       \

### Memory Tips

In [ ]:
#  list limits for NumPy integer types
display(np.iinfo(np.int32))

# get information about floating-point numbers
display(np.finfo(np.float16))

# ask a DataFrame or Series how many bytes it is using with the .memory_usage method. 
# Note that this also includes the memory requirements of the index. 
# Also, you need to pass deep=True to get the usage of Series with object types
display(stocks.memory_usage())
display(stocks.Low.memory_usage())
display(stocks.memory_usage(deep=True))

## Series
https://pandas.pydata.org/docs/reference/series.html

In [ ]:
# get series out of DataFrame

symbol_series = stocks.Symbol
shares_series = stocks.Shares

display(type(symbol_series))
display(symbol_series.dtype)
display(shares_series.dtype)

### Get samples from Series

In [ ]:
# This function returns the first `n` rows for the object based on position
display(symbol_series.head())

# n = Number of items from axis to return
display(symbol_series.sample(n=1))

### Get stats from Series

In [ ]:
display(symbol_series.value_counts())

# Return number of non-NA/null observations in the Series
print('\nCount = ', symbol_series.count())

# return a NumPy array with the unique values
print('\nUnique = ', symbol_series.unique())

# Basic summary statistics are provided with .min, .max, .mean, .median, and .std

display(shares_series.describe())

### Series Operations

In [ ]:
display(shares_series)

# a new Series or DataFrame is returned when using an operator
display(shares_series + 100)
display(shares_series.add(100))
display(shares_series > 100)

### Chanining

In [ ]:
# The .pipe method on a Series needs to be passed a function that accepts a Series as input and can return anything

def debug_ser(series):
 print("From pipe:")
 print(series)
 return series

print("\nend result:\n", shares_series.add(100).pipe(debug_ser).astype(float))